<div class="card mt-2">
  <div class="card-header"> Shoprite Employees</div>
      <div class="card-body">
          <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Add Employee
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <app-employee></app-employee>
            </div>
          </div>
        

          <app-employee-list></app-employee-list>
      </div>
  </div>
